.App {
  text-align: center;
}

body {
  width: 100%;
}

table {
  margin: 0px auto;
  padding: 30px;
}

button {
  margin: 10%;
  float: right;
  background-color: #309CCD;
  color: white;
  font-size: 15pt;
  border-radius: 8px;
  width: 110px;
  height: 45px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Verdana;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.prompt-label {
  display: block
}

.row {
  display: table-row;
}

.name,
.viewed,
.signed,
.due {
  display: table-cell;
}
