.App {
  text-align: center;
}

body {
  width: 100%;
}

table {
  margin: 0px auto;
}

button {
  background-color: #1c9DD1;
  color: white
}

img {
  width: auto;
  height: 128px
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Verdana;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.prompt-label {
  display: block
}

.row {
  display: table-row;
}

.name, 
.viewed, 
.signed,
.due {
  display: table-cell;
}


